@tailwind base;
@tailwind components;
@tailwind utilities;


#content-1, #content-2, #content-3, #content-4 {
    height: 86vh;
}

#first-box, #second-box {
    width: 50%;
}

#content-1 {
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    #second-box {
        margin-top: 18rem;
        
    }

    #first-box {
        margin-bottom: 10rem;
    }
}