<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul & Buding</title>
    <link href="/css/input.css" rel="stylesheet">
    <link href="/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">

    <button class="bg-black-500 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-sky-200 transition-colors duration-300">
        <a href="../../index.html" class="text-inherit">Back</a>
    </button>

</body>
</html>
