<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul & Buding</title>
    <link href="/css/input.css" rel="stylesheet">
    <link href="/css/output.css" rel="stylesheet">
</head>
<body>
    
    <div class="text-center">
        <p class="m-auto w-1/2">
            STORY
          </p>
          
    </div>
    <div class="bg-custom-pink flex items-center space-x-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dapibus, nibh a tincidunt venenatis, orci mauris placerat sapien, id porttitor ex urna nec risus. Nullam nec felis id ligula luctus congue ut vel nisl. Sed eget urna at lectus auctor bibendum in a lacus. Mauris fringilla, nunc vel vestibulum suscipit, ipsum metus fermentum nibh, a vehicula sapien risus in nisl. Cras hendrerit, sapien in aliquet vestibulum, sem metus aliquet elit, vel ultricies eros dolor sit amet sapien. Fusce sodales, nunc in feugiat dictum, nisl tortor auctor elit, id tincidunt urna libero a eros.</p>
        <div class="w-1/2">
          
            <img src="/assets/images/Group 2.png" alt="file not found">
          
          
          
        </div>
      </div>
</button>

</body>
</html>
